[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = /home/paul/.vim/bundle/Vundle.vim
[submodule "repositories/z"]
	path = repositories/z
	url = /home/paul/repositories/z
[submodule "repositories/peda"]
	path = repositories/peda
	url = /home/paul/repositories/peda
[submodule "repositories/exploitable"]
	path = repositories/exploitable
	url = /home/paul/repositories/exploitable
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = /home/paul/.oh-my-zsh
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = /home/paul/.vim/bundle/nerdtree
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = /home/paul/.vim/bundle/syntastic
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = /home/paul/.vim/bundle/YouCompleteMe
