[submodule "repositories/z"]
    path = repositories/z
    url = git@github.com:rupa/z.git
    branch = master
[submodule "repositories/hacking/peda"]
    path = repositories/hacking/peda
    url = git@github.com:longld/peda.git
    branch = master
[submodule "repositories/hacking/exploitable"]
    path = repositories/hacking/exploitable
    url = git@github.com:jfoote/exploitable.git
    branch = master
[submodule "repositories/hacking/pwndbg"]
    path = repositories/hacking/pwndbg
    url = git@github.com:pwndbg/pwndbg.git
    branch = dev
[submodul "repositories/zshcompletions"]
    path = repositories/zshcompletions
    url = git@github.com:rsherstnev/zshcompletions
    branch = master
[submodule ".oh-my-zsh"]
    path = .oh-my-zsh
    url = git@github.com:ohmyzsh/ohmyzsh.git
    branch = master
[submodule "/home/paul/.local/share/pwncat/modules_src/pwncat_dirtypipe"]
	path = /home/paul/.local/share/pwncat/modules_src/pwncat_dirtypipe
	url = git@github.com:DanaEpp/pwncat_dirtypipe
[submodule "/home/paul/.local/share/pwncat/modules_src/pwncat_linpeas"]
	path = /home/paul/.local/share/pwncat/modules_src/pwncat_linpeas
	url = git@github.com:JorianWoltjer/pwncat_linpeas
[submodule "/home/paul/.local/share/pwncat/modules_src/pwncat_pwnkit"]
	path = /home/paul/.local/share/pwncat/modules_src/pwncat_pwnkit
	url = git@github.com:DanaEpp/pwncat_pwnkit
